:root {
  /* Color: 100 lighter shade, 400 medium shade, 900 darker shade */
  /* header */
  --clr-primary-400: rgb(179, 179, 179); 
  --clr-primary-100: rgb(217, 217, 217);
  /* main */
  --clr-neutral-900: rgb(30, 28, 28);
  --clr-primary-700: rgb(64, 64, 64);
  --clr-neutral-400: rgb(179, 179, 179);
  --clr-white-all: rgb(255, 255, 255);
  
  /* font */
  --ff-primary: 'Inter', sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-light: 300;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /*font size*/
  --fs-300: .48rem; /*12*/
  --fs-500: .64rem; /*16*/
  --fs-600: 1rem; /*25*/
  --fs-700: 2rem; /*50*/

  --fs-primary-heading: var(--fs-700);
  --fs-secondary-heading: var(--fas-600);
  --fs-nav: var(--fs-500);
  --fs-text: var(--fs-300);
}

@media (min-width: 50em) {
  :root {
    --fs-primary-heading: var(--fs-700);
    --fs-secondary-heading: var(--fas-600);
  }
}

/* https://piccalil.li/blog/a-modern-css-reset
/* Box sizing rules */
*,
*::before,
*::after {
box-sizing: border-box;
}

/* Remove default margin */
* {
margin: 0;
padding: 0;
font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
list-style: none;
}

/* Set core root defaults */
html:focus-within {
scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
min-height: 100vh;
text-rendering: optimizeSpeed;
line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
max-width: 100%;
display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
html:focus-within {
scroll-behavior: auto;
  }
*,
*::before,
*::after {
animation-duration: 0.01ms !important;
animation-iteration-count: 1 !important;
transition-duration: 0.01ms !important;
scroll-behavior: auto !important;
  }
}

/* Utility classes */
/* color text */
.text-all {
  color: var(--clr-white-all)
}
/* color background */
.bg-header {
  color: var(--clr-neutral-400)
}
.bg-navsymbol {
  color: var(--clr-primary-100)
}

/* font size */
.fw-reguler { font-weight: var(--fs-300); }
.fw-medium { font-weight: var(--fs-500); }
.fw-semibold { font-weight: var(--fs-600); }
.fw-bold { font-weight: var(--fs-700); }

.fs-primary-heading { font-size: var(--fs-primary-heading); }
.fs-secondary-heading { font-size: var(--fs-secondary-heading); }

.fs-300 { font-size: var(--fs-300); }
.fs-500 { font-size: var(--fs-500); }
.fs-600 { font-size: var(--fs-600); }
.fs-700 { font-size: var(--fs-700); }

body {
  background-color: var(--clr-primary-700);
  background-blend-mode: overlay;
  background-image: url("/Users/muhammadnumanmuttaqi/Documents/Self Learning/Code Project/DetectingObjectsWeb/detecting_objects-LandingPage/images/teahub.io-cell-wallpaper-250260 small.svg");
  background-repeat: repeat;
  background-size: cover;
}

a,button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20px;
}

.navigation-left {
  position: fixed;
  left: -500px;
  top: 0;
  width: 300px;
  height: 100%;
  background: rgb(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(10px);
  transition: .5s;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

input[type=text] {
  margin-top: 10px;
  padding: 2%;
  width: 95%;
  font-family: 'Inter', sans-serif;
  font-size: var(--fs-500);
  color: white;
  background-color: darkgray;
  border: none;
}
input[type=submit] {
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 2%;
  width: 50%;
  font-family: 'Inter', sans-serif;
  font-size: var(--fs-500); 
  color: white;
  background-color: grey;
  cursor: pointer;
  border: none;
}
input[type=range]{
  -webkit-appearance: none;
  appearance: none;
  margin: 10px 0;
  width: 80%;
}
input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  background-color: darkgray;
  height: 1rem;
  width: 0.5rem;
  margin-top: -8px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor:pointer;
  background: white;
}
input[type=range]:focus{
  outline: none;
}
#weight-range-value {
  position: relative;
  margin-top: 0;
  font-family: 'Inter', sans-serif;
  font-size: var(--fs-500); 
  color: white;
}
#zoom-range-value {
  position: relative;
  margin-top: 0;
  font-family: 'Inter', sans-serif;
  font-size: var(--fs-500); 
  color: white;
}
select {
  margin-top: 10px;
  font-family: 'Inter', sans-serif;
  font-size: var(--fs-500); 
  padding: 1em 1.5em;
  background: grey;
  color: white; 
  border: 0;
}

.hamburger, .bar {
  position: fixed;
}
.hamburger{
  display: block;
  top: 30px;
  left: 50px;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  background: 0;
}
.bar {
  top: 3px;
  background-color: white;
  width: 100%;
  height: 4px;
  transition: all .3s ease-in;
}
#bar2 {
  top: 11px;
}
#bar3 {
  top: 19px;
}
.nvgleft {
  margin-left: 50px;
  margin-right: 30px;
}

header p{
  margin-top: 30px;
  color: var(--clr-white-all);
  font-family:'Inter', sans-serif;
  font-weight: var(--fw-semibold);
  font-size: var(--fs-600);
}
.colorbox header p{
  margin-top: 30px;
  color: var(--clr-white-all);
  font-family:'Inter', sans-serif;
  font-weight: var(--fw-light);
  font-size: var(--fs-600); 
}
.scrollbox-inner p {
  margin-top: 5px;
  color: var(--clr-white-all);
  font-family:'Inter', sans-serif;
  font-weight: var(--fw-light);
  font-size: var(--fs-500); 
}
.box-name p {
  margin-top: 20px;
  color: var(--clr-white-all);
  font-family:'Inter', sans-serif;
  font-weight: var(--fw-semibold);
  font-size: var(--fs-00); 
}
.field-group {
  margin-top: 5px;
  color: var(--clr-white-all);
  font-family:'Inter', sans-serif;
  font-weight: var(--fw-semibold);
  font-size: var(--fs-500); 
  box-sizing: border-box;
}
.navigation-left.active{
  left: 0;
}
.hamburger.open #bar1{
  background-color: white;
  transform: rotate(45deg) translate(6px, 5px)
}
.hamburger.open #bar2{
  background-color: transparent;
}
.hamburger.open #bar3{
  background-color: white;
  transform: rotate(-45deg) translate(6px, -5px)
}

main {
  margin-top: 50px;
  margin-left: 330px;
  /*padding and text position*/
  padding: 100px;
}

.logo-company{
  margin-top: 20px; 
  max-width: 100px;
  max-height: 100px;
  background-color: rgb(255, 255, 255);
}

h1 {
  color: var(--clr-white-all);
  font-family:'Inter', sans-serif;
  --fs-700: 4rem;
  font-weight: var(--fw-bold);
  font-size: var(--fs-700);
}
h2 {
  color: var(--clr-white-all);
  font-family:'Inter', sans-serif;
  --fs-600: 2rem;
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
}
h3 {
  color: var(--clr-white-all);
  font-family:'Inter', sans-serif;
  --fs-600: 2rem;
  font-weight: var(--fw-light);
  font-size: var(--fs-600);
}

.navigation-right { 
  position: fixed;
  right: -500px;
  top: 0;
  width: 300px;
  height: 100%;
  background: rgb(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(10px);
  transition: .5s;
} 

.plus, .ber {
  position: fixed;
}
.plus {
  display: block;
  top: 30px;
  right: 50px;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  background: 0;
}
.ber {
  top: 3px;
  background-color: white;
  width: 100%;
  height: 4px;
  transition: all .3s ease-in;
}
#ber2{
  top: 19px;
  transform: rotate(90);
}
.nvgright{
  margin-left: 50px;
  margin-right: 50px;
}
.navigation-right.active{
  right: 0;
}
.plus.open #ber1 {
  background-color: white;
  transform: rotate(90deg);
  top: 11px;
}
.plus.open #ber2 {
  background-color: white;
  top: 11px;
}

.nvgright, .header {
  margin-top: 60px;
  color: var(--clr-white-all);
  font-family: 'Inter', sans-serif;
  font-weight: var(--fw-semibold);
  font-size: var(--fs-600);
}
.companydef, p{
  margin-top: 5px;
  color: var(--clr-white-all);
  font-family:'Inter', sans-serif;
  font-weight: var(--fw-light);
  font-size: var(--fs-500);
}
.aboutus {
  margin-top: 400px;
  list-style-type: none;
  color: var(--clr-white-all);
  font-family: 'Inter', sans-serif;
  font-weight: var(--fw-semibold);
  font-size: var(--fs-600); 
}
